<html>

<body>
    <p>
        <b>Name :</b>
        <%= name %><br>
            <b>Email :</b>
            <%= email %><br>
                <b>Mobile :</b>
                <%= mobile %><br>

    </p>
</body>

</html>